@import url("http://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    -webkit-appearance: none !important;
}

html {
    font-family: "Poppins", "Inter", Roboto, sans-serif;
    line-height: 1.15;
    letter-spacing: 0.02em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    background-color: #000000;
    color: #f5f5f5 !important;
}

h1 {
    letter-spacing: 0.03em;
}

a.link {
    @apply text-neutral-200;
}

a.link:hover {
    @apply text-neutral-100 underline underline-offset-2;
}

.hero-text {
    background: rgb(238, 174, 202);
    background: radial-gradient(
            circle,
            rgba(238, 174, 202, 0.8141850490196079) 0%,
            rgba(148, 187, 233, 0.7721682422969187) 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade {
    @apply opacity-0;
    animation: fade 0.5s ease-in-out forwards;
}

/* Snippet List Cards */

.snippet-card {
    @apply flex flex-col gap-4 font-mono border border-neutral-900 rounded-lg px-4 lg:px-5 py-3 lg:py-4;
}

.snippet-card a.title {
    @apply block text-neutral-200 text-sm lg:text-base font-medium hover:text-green-400 hover:underline hover:underline-offset-2 transition-all !important;
}

.snippet-ratings {
    @apply flex items-center gap-2;
}

.snippet-ratings p {
    @apply text-xs text-neutral-600;
}

.snippet-ratings p span {
    @apply ml-1;
}

/* Feature cards */
.feature-card {
    @apply flex flex-col items-start gap-3 px-6 lg:px-10 py-6 lg:py-12 rounded text-left bg-neutral-900 bg-opacity-50 backdrop-blur-sm transition-all duration-300 rounded-lg cursor-pointer;
}

.feature-card h3 {
    @apply text-base font-bold text-neutral-300 my-0;
}

.feature-card p {
    @apply text-neutral-600 text-[13px] leading-5 -mt-1;
}

.feature-card .feature-card-icon {
    @apply block text-lg text-neutral-200 bg-green-400 rounded-lg p-3.5;
}

.feature-card .feature-card-icon i,
.feature-card .feature-card-icon svg {
    @apply block text-base aspect-square text-neutral-900;
}

.icon {
    background: rgb(238, 174, 202);
    background: radial-gradient(
            circle,
            rgba(238, 174, 202, 0.8141850490196079) 0%,
            rgba(148, 187, 233, 0.7721682422969187) 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Forms */

.error {
    @apply relative text-xs bg-red-500 bg-opacity-20 text-red-600 px-4 py-3.5 rounded-lg relative;
}

.btn-primary {
    @apply inline-block bg-green-400 text-xs font-medium text-neutral-900 px-8 py-4 rounded-lg hover:-translate-y-2 transition-all;
}

.btn-danger {
    @apply inline-block bg-red-400 text-xs font-medium text-neutral-900 px-8 py-4 rounded-lg hover:-translate-y-2 transition-all;
}

label.check-label {
    @apply w-full bg-neutral-900 text-xs text-center text-neutral-200 py-4 px-5 rounded-lg cursor-pointer my-0 mx-0;
}

label.check-label:hover {
    @apply opacity-80;
}

label.checked {
    @apply bg-green-400 font-medium text-neutral-900;
}

label {
    @apply block text-neutral-500 text-xs px-1 mb-2;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    @apply w-full px-4 py-4 bg-neutral-900 text-sm text-neutral-200 placeholder-neutral-600 border-none rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-transparent;
}

input.has-error {
    @apply border-2 border-red-500;
}

select {
    @apply w-full px-4 py-4 bg-neutral-900 text-sm text-neutral-200 placeholder-neutral-500 border-none rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-transparent;
}

textarea[name="whitelist"] {
    @apply w-full bg-neutral-900 bg-opacity-80 text-sm resize-none placeholder-neutral-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-transparent rounded-lg p-3;
}

.tab-button {
    @apply text-xs px-4 py-2 rounded transition-all;
}

/* Alert/Toast */

.alert-box {
    @apply fixed bottom-4 left-4 w-max z-[9999] text-xs font-semibold font-mono flex items-center justify-center pointer-events-none px-4 py-2 rounded;
}

.success {
    @apply bg-green-400 text-neutral-900;
}

.show {
    animation: show 0.3s ease-in-out forwards;
}

/* Editor -  */
.CodeMirror {
    @apply min-h-[80vh] md:min-h-[60vh] xl:min-h-[50vh] max-h-[90vh] md:max-h-[80vh] xl:max-h-[80vh] h-auto bg-neutral-900 bg-opacity-80 text-neutral-200 cursor-text leading-6 !important;
}

.CodeMirror-gutters {
    @apply bg-inherit border-none px-0 !important;
}

/* Window */
.window-btn-container {
    @apply flex items-center gap-1.5 select-none cursor-pointer justify-self-start;
}

.window-btn {
    @apply w-2.5 rounded-full aspect-square;
}

.window-btn.green {
    @apply bg-green-500;
}

.window-btn.red {
    @apply bg-red-500;
}

.window-btn.yellow {
    @apply bg-yellow-400;
}

.window-top {
    @apply w-full bg-neutral-900 bg-opacity-80 text-xs font-mono flex items-center justify-between gap-4 lg:gap-6 px-4 py-3 rounded-t-lg;
}

.window-top h4 {
    @apply w-max text-neutral-100 font-medium text-[11px] text-left whitespace-nowrap overflow-hidden overflow-ellipsis;
}

.window-bottom {
    @apply w-full bg-neutral-900 bg-opacity-80 text-xs font-mono flex items-center justify-between gap-4 lg:gap-6 px-4 py-3 rounded-b-lg;
}

.window-bottom .lang {
    @apply bg-green-400 text-neutral-900 text-[9px] font-mono uppercase font-medium px-1.5 py-0.5 rounded select-none;
}

.window-bottom .date {
    @apply text-[10px] text-neutral-500 select-none;
}

/* Animations */

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(25px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
